<div class="row">
  <div class="col-md-12 main">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'ocsp_web_label_manage_000' | translate}}
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>{{'ocsp_web_label_manage_001' | translate}}</th>
            <th>{{'ocsp_web_label_manage_004' | translate}}</th>
            <th>{{'ocsp_web_label_manage_002' | translate}}</th>
            <th>{{'ocsp_web_label_manage_003' | translate}}</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="label in labels">
              <td class="col-md-2">{{label.name}}</td>
              <td class="col-md-2">{{label.owner}}</td>
              <td class="col-md-2">{{label.class_name}}</td>
              <td class="col-md-6"><textarea ng-model="label.properties" class="form-control" rows="6" ng-disabled="owner(label)"/></td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" ng-click="save()">{{'ocsp_web_common_009' | translate}}</button>
      </div>
    </div>
    <div class="well">
      <div>
        <div style="float:right;">
          <button type="button" ng-click="upload()">{{'ocsp_web_common_010' | translate}}</button>
        </div>
        <input ngf-select type="file" ng-model="file">
      </div>
    </div>
    <div class="alert alert-danger" ng-if="message !== null">
      {{message}}
    </div>
  </div>

</div>
