<?xml version="1.0" encoding="UTF-8"?>
<property>
    <db>
        <url>@MYSQL_ADDR@</url>
        <username>@MYSQL_UNAME@</username>
        <password>@MYSQL_PWD@</password>
        <classname>com.mysql.jdbc.Driver</classname>
    </db>
</property>