<div class="jumbotron">
  <h1>OCSP wow!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="OCSP"><br>
    High performance streaming platform
  </p>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label class="pull-left">{{'username' | translate}}</label>
        <input class="form-control" placeholder="{{'username' | translate}}" ng-model="user.name">
      </div>
      <div class="form-group">
        <label class="pull-left">{{'password' | translate}}</label>
        <input ng-class="styles" class="form-control" type="password" placeholder="{{'password' | translate}}" ng-model="user.pass">
        <div class="pull-left" style="color:red">{{message}}</div>
      </div>
      <div class="form-group" style="padding-top: 10px;">
        <a class="btn btn-block btn-primary" ng-click="login()">{{'login' | translate}}</a>
      </div>
    </div>
  </div>
</div>
