// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  height: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.footer {
  border-top: solid 1px #e7e7e7;
  background-color: #f8f8f8;
  bottom: 0;
  height: 50px;
}

/* Custom css*/
.sidebar {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 20px;
}

.panel {
  margin-top: 10px;
}

.navbar-oc {
  background-image: linear-gradient(to bottom, #555555, #333333);
  height: 40px;
  margin-bottom: 0px;
}

.navbar-oc .navbar-nav > li > a{
  color: #aaaaaa;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 1px 0 #555555;
}

.navbar-oc .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-oc .navbar-nav > li > a:focus,
.navbar-oc .navbar-nav > li > a.active{
  background-color: #FFFFFF;
  color: #555555;
}

.navbar-header .brand{
  color: #ffffff;
  font-size: 16px;
  text-shadow: 0 1px 0 #555555;
}

.wizard-card-container {
  height: 300px;
  overflow-y: scroll;
}

.handle {
  cursor: move;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

a.choose,
a.choose:hover,
a.list-group-item:focus,
ul#actions > li > a:hover,
ul#quick > li > a:hover{
  background-color: #999999;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

i.danger{
  color:red;
}

i.success{
  color:green;
}

i.warning{
  color:orange;
}

ul#actions > li.disabled > a:hover{
  background-color: #999999;
  color: #777777;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

g div{
  color: black;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

a:hover, a:focus {
  text-decoration: none;
}

input.ng-invalid.ng-touched,
div.ng-invalid.ng-touched div.tokenfield,
div.ng-invalid.ng-touched.ui-select-container span.ui-select-toggle{
  border: 1px solid red;
}

#mainFrame input.ng-invalid.ng-touched + span.input-group-btn button{
  border: 1px solid red;
  color: red;
}

span.redtip,
div.ng-invalid.ng-touched.ui-select-container i.caret.pull-right{
  color: red;
}

.popover-content {
  width: 200px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  outline: 0 !important;
}

ul.ui-autocomplete{
  width: 112px !important;
  z-index: 1100 !important;
}

table a{
  cursor: pointer;
}

.ribbon {
  background-color: #a00;
  box-shadow: 0 0 10px #888;
  left: -4.6em;
  moz-box-shadow: 0 0 10px #888;
  moz-transform: rotate(-45deg);
  ms-transform: rotate(-45deg);
  o-transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 46px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  webkit-box-shadow: 0 0 10px #888;
  webkit-transform: rotate(-45deg);
  white-space: nowrap;
  width: 19em;
  z-index: 9999;
  pointer-events: none;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
  pointer-events: none;
}

.cep {
  background-color: #a00;
  box-shadow: 0 0 10px #888;
  color: #FFF;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar-brand.logo {
  padding: 10px 15px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.icon-2x {
  font-size: 2em;
}

.abn-tree i{
  margin-right: 5px;
  outline: none;
}

.modal-dialog{
  margin-top: 90px;
}

.ta-root{
  outline: none;
}

.ta-editor.form-control.editor-height, .ta-scroll-window.form-control.editor-height  {
  height: 100px;
  min-height: 100px;
  overflow: hidden;
  font-family: inherit;
  font-size: 100%;
}

.form-control.editor-height > .ta-bind {
  min-height: 100px;
}

.form-control.editor-height .placeholder-text::before{
  color: #999999;
}
